#home {
  color: $red;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: linear-gradient(0deg, white 50%, $red 50%);
  p {
    margin-top: 1.5em;
  }
  a {
    color: $red;
    font-weight: bold;
    font-size: 16px;
  }
  h1 {
    color: white;
  }
}
